.App {
  text-align: center;
 
  /* it first follows lato and if not available it foloow sans serif */
  font-family: 'Lato', sans-serif;
 
  /* light gray color */
  background-color: #f5f5f5;

  /* 20 pixels padding to all sides of element */
  padding: 20px;
}

h1 {
  /* sets the ont size of h1 elements to 2 times the root font size */
  font-size: 2rem;

  /* add 20 pixels of margin to bottom of h1 elements */
  margin-bottom: 20px;
}

/* You can add more global styles here if needed */
